/* Accordion.css */
button.aButton {
    display: flex;
    justify-content: center;
    padding: 8px 20px;
    background-color: #9c46bd;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 2px;
    width: 800px;
    font-size: 25px;
    color: #ffffff;
}

button.b1 {
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid black;
}
button.b2 {
    border-radius: 10px;
}
p.ap {
    font-size: 20px;
    /*margin-top: 5px;*/
    padding: 5px;
    background-color: #e894fa;
    width: 800px;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 10px;
}

button.aButton:hover {
    background-color: #8722a9;
}

button.aButton:active {
    transform: scale(0.99);
}
button.aButton:focus {
    outline: none;
}

.accordion-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.aDiv {
    color: black;
}